body {
	background-image: url("http://i.imgur.com/V4Qp5Ck.jpg") ;
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
span {
	color: FFFF00 ;
	text-align: center;
}
li {
	color: FFFF00 ;
	text-align: center;
}
h1 {
	color: FFFF00 ;
	text-align: center;
}
h2 {
	color: FFFF00 ;
	text-align: center;
}
img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
	border-style:groove ;
	border-color:FFFF00 ;
	height: 200px;
    width: 25%;

}

